.abt-contnr {
  display: flex;
  justify-content: center;
}
.about-container {
  /* padding-top: 50px; */
  /* padding: 20px 100px; */
  color: white;
  max-width: 1200px;
}
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.img-container {
  max-height: 500px;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  display: none;
}
.about-img {
  min-height: 400px;
  max-width: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.my-content {
  /* max-width: 700px; */
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-weight:100;
}
.my-content h1 {
  text-decoration: underline;
  text-align: center;
  font-size: 40px;
}
.my-content p {
  font-size: 25px;
  text-align: center;
}
.about-btn-container {
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
  padding: 10px;
}
.about-btns {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  margin-top: 10px 0;
  font-weight: bold;
  /* max-width: 1200px; */
  height: 400px;
}
.about-btns button {
  font-family: cursive;
  height: 50px;
  width: 150px;
  font-size: large;
  font-weight: bold;
  background-color: #122620;
  color: pink;
  border: none;
  box-shadow: 0 0 10px #ffd8b8;
  border-radius: 10px;
}

.about-btns button:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: #ffd8b8;
  box-shadow: 0 0 10px pink;
}
.about-footer{
    max-width: 1200px;
    height: 300px;
}
.about-container-2{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.skills-expand {
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 300px;
  border-radius: 20px;
  padding: 10px 30px 10px 0;
  box-shadow: 0 0 10px #ffd8b8;
  display: flex;
  color: white;
  background: linear-gradient(
      #122620,
      #0a1210
    );
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  font-family: monospace;
  font-size:20px;
  opacity: 0;
  transform: translateY(-100px);
  animation: slideDown 1s ease-out forwards;
}


@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
.experience-expand {

    max-width: 400px;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    box-shadow: 0 0 10px #ffd8b8;
    color: white;
    background: linear-gradient(
        #122620,
        #0a1210
      );
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    font-family: monospace;
    font-size:20px;
    opacity: 0;
  transform: translateY(-100px);
  animation: slideDown 1s ease-out forwards;
}
.education-expand {
    max-width: 400px;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    margin-left: auto;
    margin-top: 20px;
    display: flex;
    box-shadow: 0 0 10px #ffd8b8;
    color: white;
    background: linear-gradient(
        #122620,
        #0a1210
      );
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-family: monospace;
    font-size:20px;
    opacity: 0;
  transform: translateY(-100px);
  animation: slideDown 1s ease-out forwards;
}

.contact-container {
  margin: 15px;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
}

.social span {
  margin: 3px;
  font-size: 25px;
  color: black;
}

/*footer*/
footer {
  padding-top: 100px;
}
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b68d40;
  min-height: 60px;
  color: black;
}
footer div p {
  font-weight: bold;
}

@media (max-width:786px){
    .about-btns{
        flex-direction: column;
        height: 420px;
    }
    .about-btns button{
        width: 300px;
        font-family: 'Times New Roman', Times, serif;
        margin: auto;
        margin-bottom: 15px;
    }
}
